body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* PAGE */
.page {
  display: flex;
  flex-direction: column;
}

/* ===== TOP LAYOUT (UNCHANGED SIZE) ===== */
.layout {
  display: flex;
  height: 100vh;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.parent-h {
  display: flex;
  flex: 1;
}

.parent-v {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* BOX */
.box {
  position: relative;
  flex: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay hidden by default */
.box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.4s ease;


}

/* dark overlay only on hover */
.box:hover::after {
  /* background: rgba(0,0,0,0.5); */
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.29) 65%,
    rgba(0, 0, 0, 1) 100%
  );
}

.box h2 {
  position: relative;
  z-index: 2;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.3s;
}

/* subtle fade effect */
.box:hover h2 {
  opacity: 0.9;
}

.box p {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.4s;
}

.box:hover p {
  opacity: 1;
  transform: translateY(0);
}

.box h2 {
  position: relative;
  z-index: 2;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
}

/* ===== EXTRA GRID ===== */

.extra-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* SAME TILE FEEL */
.extra-box {
  height: 250px;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
}

.extra-box h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* ===== BOTTOM LAYOUT ===== */

.extra-layout {
  display: flex;
  flex-direction: column;
}

/* ROW */
.row {
  display: flex;
}

/* BOX */
.extra-box {
  flex: 1;
  height: 250px;
  position: relative;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay */
.extra-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* text */
.extra-box h2 {
  position: relative;
  z-index: 2;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* WIDE BOX */
.extra-box.wide {
  flex: 2;
}

/* EMPTY SPACE */
.extra-box.empty {
  background: #eee;
}
